*.pyc
*.tsbuildinfo
__pycache__/
/.mypy_cache/
/.pytest_cache/
/*.egg-info/
/agents/*/node_modules/
/apps/*/.vite/
/apps/*/dist/
/apps/*/node_modules/
/apps/*/yarn.lock
/agents/*/shims.d.ts
/bridges/*.js
/bridges/node_modules/
/build/
/deps/
/dist/
/subprojects/miru-core.wrap
/subprojects/miru-core/
/subprojects/miru-mumu.wrap
/subprojects/miru-mumu/
/subprojects/miru-python/
